#divTask {
  background-color: purple !important;
  border: 2px solid rgb(102, 255, 0) !important;
}

#addBtn {
  background-color: rgb(102, 255, 0) !important;
  border: none !important;
}

#doneBtn {
  background-color: rgb(102, 255, 0) !important;

}
